.carousel
{
  height: 320px;
  background-color:rgb(161, 199, 186);
  margin-top: 5%;
}
a
{
  text-decoration: none;
}
a.active
{
  text-decoration: none;
}
.carousel p{
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px black;
}
.main
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  margin:5% 2%;
}
ul
{
    text-align: center;
}

.main_content  div
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 320px;
  border-radius: 5px;
  padding: 2px 5px;
} 

img
{
  width: 60%;
  margin-left: 20%;
  margin-top: -5%;
  border-radius: 5px;
}

.day_of_the_week
{
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px black;
}
.day_of_the_month
{
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px black;
}

.card_header
{
  font-size: 20px;
  margin: 0%;
  font-weight: 400;
}

.button{
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 25%;
  text-decoration: none;
  border: 1px solid rgb(17, 77, 100);
  color: rgb(17, 77, 100); ;
}
