.carousel
{
  height: 320px;
  background-color:rgb(161, 199, 186);
  margin-top: 5%;
}
.carousel p{
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
.main
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-top: 5%;
}
ul
{
    text-align: center;
}
.main_content  div
{
  height: 300px;
  background-color: darkgray;
} 
img
{
  width: 60%;
  margin-left: 20%;
  margin-top: -5%;
}

.day_of_the_week
{
  font-size: 30px;
  color: #fff;
}
.day_of_the_month
{
  font-size: 30px;
  color: #fff;
}
.card_header
{
  font-size: 20px;
  margin: 0%;
  font-weight: 400;
}
.button{
  text-decoration: none;
  padding: 5px 10px;
  /* margin:5% auto; */
  margin-left: 25%;
  text-decoration: none;
  border: 1px solid rgb(17, 77, 100);
  /* border-radius: 25px; */

  color: rgb(17, 77, 100); ;
}
